@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Confirme seu registro";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    Seja bem vindo ao Controle de Despesas. <a id="confirm-link" href="@Model.EmailConfirmationUrl">Clique aqui para confirmar a criação da sua conta</a>
</p>
    }
    else
    {
<p>
        Please check your email to confirm your account.
</p>
    }
}

